body {
    margin: 0;
    padding: 0;
}
/* HEADER */
.container{
    width: 1000px;
    margin: 0 auto;
}
.header{
    background: black;
    width: 100%;
    position: fixed;
    z-index: 1;
}
.logo{
    float: left;
    font-family: 'Lucida Sans';
    font-size: 15px;
}
a{
    text-decoration: none;
    color: white;
}
li {
    list-style: none;
    float: left;
    font-size: 13px;
    font-family: sans-serif;
    margin-left: 40px;
    padding-top: 15px;
}
.nav{
    float: right;
}
/* BODY */
#sec1 {
    height: 650px;
    width: 100%;
    background-image: url("homeBG.jpeg");
    background-size: contain;
    background-size: cover;
    position: relative;
}
.sec1Overlay{
    height: 650px;
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.7);
}
#sec2{
    height: 700px;
    width: 100%;
    position: relative;
}
#sec2:before {
    content: '';
    width: 50%;
    height: 100px;
    position: absolute;
    top: -48px;
    left: 0;
    background: white;
    transform: skewY(8deg);
}
#sec2:after {
    content: '';
    width: 50%;
    height: 100px;
    position: absolute;
    top: -48px;
    right: 0;
    background: white;
    transform: skewY(-8deg);
}
#sec3 {
    height: 700px;
    width: 100%;
    background-image: url("a62cf583cf49f1bf1bf1a963bc747a64.png");
    background-size: contain;
    background-size: cover;
    position: relative;
}
#sec4 {
    height: 700px;
    width: 100%;
    position: relative;
}
#sec5 {
    height: 700px;
    width: 100%;
    background-image: url("pen_ink_pens_113134_1366x768.png");
    background-size: contain;
    background-size: cover;
    position: relative;
}
#sec6 {
    height: 700px;
    width: 100%;
    position: relative;
}

