body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* HEADER */
.header{
    background: black;
    width: 100%;
    position: fixed;
    z-index: 1;
}
.logo{
    float: left;
    font-family: monospace;
    font-size: 15px;
}
a{
    text-decoration: none;
    color: white;
}
.nav li {
    list-style: none;
    float: left;
    font-size: 15px;
    font-family: sans-serif;
    margin-left: 40px;
    padding-top: 15px;
    transition: .5s;
}
.nav ul:hover li{
    opacity:.2;
    filter: blur(1px);
}
.nav ul li:hover{
    opacity:10;
    filter: blur(0px);
}
.nav{
    float: right;
}
/* BODY */
#sec1 {
    height: 700px;
    width: 100%;
    background-image: url("homeBG.jpeg");
    background-size: contain;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.sec1Overlay{
    height: 700px;
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.7);
}
#sec3 {
    height: 600px;
    width: 100%;
    background-image: url("a62cf583cf49f1bf1bf1a963bc747a64.png");
    background-size: contain;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

#sec3:before {
    content: '';
    position: absolute;
    border-bottom: 200px solid white;
    border-right: 98.8vw solid transparent;
    bottom: -0px;
}
#sec3:after {
    content: '';
    position: absolute;
    border-top: 200px solid white;
    border-left: 98.8vw solid transparent;
    top: -0px;
}

.sec3Overlay {
    height: 600px;
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
}
.sec3Overlay:before {
    content: '';
    position: absolute;
    border-bottom: 200px solid white;
    border-right: 98.8vw solid transparent;
    bottom: -0px;
}
.sec3Overlay:after {
    content: '';
    position: absolute;
    border-top: 200px solid white;
    border-left: 98.8vw solid transparent;
    top: -0px;
}

#sec5 {
    height: 600px;
    width: 100%;
    background-image: url("pen_ink_pens_113134_1366x768.png");
    background-size: contain;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.info{
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
    position: relative;
    color: white;
    top: 45%;
}
#sec5:before {
    content: '';
    position: absolute;
    border-bottom: 200px solid white;
    border-left: 98.8vw solid transparent;
    bottom: 0px;
}
#sec5:after {
    content: '';
    position: absolute;
    border-top: 200px solid white;
    border-right: 98.8vw solid transparent;
    top: 0px;
}

.container{
    width: 1000px;
    margin: 0 auto ;
    text-align: left;
    color: #726C6C;
    font-family: arial;
}
.container.center{
    text-align: center;
}
.container h2{
    color: black;
    font-family: Verdana;
    padding-top: 10px;
}
.container h4{
    color:yellowgreen;
}

#footer{
    position: relative;
    text-align: center;
    font-family: arial;
    bottom: 10px;
}
