body {
    margin: 0;
    padding: 0;
}
/* HEADER */
.container{
    width: 960px;
    margin: 0 auto;
}
.header{
    width: 100%;
    position: fixed;
    z-index: 1;
}
.logo{
    float: left;
    font-size: 15px;
}
li {
    float: left;
    margin-left: 15px;
    padding-top: 15px;
}
.nav{
    float: right;
}
/* BODY */
#sec1 {
    height: 600px;
    width: 100%;
    background-image: url("homeBG.jpeg");
    background-size: contain;
    background-size: cover;
    position: relative;
}
.sec1Overlay{
    height: 600px;
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.7);
}
#sec2{
    height: 700px;
    width: 100%;
    position: relative;
}
#sec2:before {
    content: '';
    width: 50%;
    height: 100px;
    position: absolute;
    top: -48px;
    left: 0;
    background: white;
    transform: skewY(8deg);
}
#sec2:after {
    content: '';
    width: 50%;
    height: 100px;
    position: absolute;
    top: -48px;
    right: 0;
    background: white;
    transform: skewY(-8deg);
}
